@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 4, 8, 13;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 4, 8, 13;
    --background-end-rgb: 4, 8, 13;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.polygon {
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 85% 100%);
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 85% 100%);
}